<div id="memos-index" class="enable-search-keyboard-shortcut" data-preview-limit="<%= @preview_search_limit %>">
  <div id="memos-search" class="row">
    <div class="col-3 col-md-2 col-lg-1">
      <a href="/memos/new" class="btn btn-primary mt-4">NEW</a>
    </div>
    <div class="col-9 col-md-10 col-lg-11">
      <input id="search" type="text" value="" class="form-control my-4" placeholder="Ctrl/Cmd + K to search ...">
      <div class="text-muted small">
        Showing up to <%= @preview_search_limit %> results. <a href="/memos/search-all">Search all &rarr;</a>
      </div>
    </div>
  </div>
  <div id="search-results"></div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-10 order-2 order-sm-1">
      <h1>Latest Notes</h1>
    </div>
    <div class="col-4 col-md-2 order-1 order-sm-2">
      <p class="mt-3 text-end">
        <span style="cursor: pointer;" onclick="reloadIndex(event)">
          🔄 INDEX
        </span>
      </p>
    </div>
  </div>
  <div>
    <ul>
      <% @titles_latest.each do |post| %>
        <li><a href="<%= post[:url] %>"><%= post[:title] %></a></li>
      <% end %>
    </ul>
  </div>
</div>
