<style>
  #search {
    webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out
  }
    #search:focus {
      padding: 1.5em;
    }
</style>
<div class="row">
  <div class="col-1">
    <a href="/memos/new" class="btn btn-primary mt-4">NEW</a>
  </div>
  <div class="col-11">
    <input id="search" type="text" value="" class="form-control my-4" placeholder="CMD + F to search ...">
  </div>
</div>
<div id="search-results"></div>
<hr>
<div class="row">
  <div class="col">
    <h1>Latest Notes</h1>
  </div>
  <div class="col-1">
    <p class="mt-3 text-end">
      <span style="cursor: pointer;" onclick="fetch('/api/v1/memos/reload', {method: 'post'}).then((res) => {console.log(res)})">
        🔄 INDEX
      </span>
    </p>
  </div>
</div>
<ul>
  <% @titles_latest.each do |post| %>
    <li><a href="<%= post[:url] %>"><%= post[:title] %></a></li>
  <% end %>
</ul>
<script src="/js/controllers/memos/search.js"></script>
